body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 18px;
  background-color: #fcfcff;
}

#container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 98%;
}

.header {
  margin: 5% 0 2% 0;
  color: #400c60;
  font-size: 80px;
  font-size: 5em;
  font-weight: bold;
  font-family: 'Poiret One';
  text-align: center;
}

.job {
  display: block;
  font-size: 34px;
  font-size: 3rem;
}

.sub-header {
  margin: 0;
  padding: 0;
  color: #400c60;
  font-size: 16px;
  font-size: 1.5em;
  font-size: 5vmin;
  line-height: 1.2;
  font-family: 'Raleway';
  text-align: center;
}

.place-link{
  text-decoration: none;
  color:inherit;
}

.portland { opacity: .2; }
.portland:hover { opacity: .3; }

.burlington { opacity: .4; }
.burlington:hover { opacity: .5; }

.brisbane { opacity: .5; }
.brisbane:hover { opacity: .6; }

.boston { opacity: .6; }
.boston:hover { opacity: .7; }

.denver { opacity: .7; }
.denver:hover { opacity: .8; }

.amsterdam { opacity: .8; }
.amsterdam:hover { opacity: 1; }

.contact-container {
  position: absolute;
  bottom: 7px;
  right: 7px;
}

.link {
  text-decoration: none;
  font-family: 'Raleway';
  font-size: 20px;
  font-size: 1.2em;
  font-size: 2vmax;
  opacity: .5;
  transition: opacity .3s ease;
}

.link:hover {
  opacity: 1;
}

#canvas {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}
