body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fcfcff;
}

#container {
  position: absolute;
  top: 20%;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#top {
  position: fixed;
  width: 100%;
  height: 10%;
  max-height: 250px;
  min-height: 70px;
  padding-bottom: 5%;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(white, white, white, white, white, rgba(255,255,255, 0));
  z-index: 2;
}

.header {
  margin-bottom: auto;
  width: 40%;
  min-width: 250px;
  max-height: 250px;
}

.menu {
  margin-bottom: auto;
  top: 2vh;
  right: 2vh;
  width: 40%;
  min-width: 250px;
  max-height: 250px;
}

.menu-line {
  stroke: #282828;
  pointer-events: none;
  transition: fill .1s linear;
}
.menu-text {
  fill: #282828;
  pointer-events: none;
}

.menu-rect:hover ~ .menu-text { fill: #238cf4; }
.menu-rect:hover ~ .menu-line { stroke: #238cf4; }

#about {
  position: relative;
  width: 100vw;
  padding-bottom: 10vh;
  display: flex;
  height: 500px;
}

#left-container {
  position: absolute;
  left: 55%;
  transform: translateX(-50%);
  pointer-events: none;
  width: 40%;
  transition: all .7s linear;
}

.place-text {
  fill: #282828;
  pointer-events: none;
  transition: fill .2s linear;
}

#maine-shape { opacity: 0; }
#vermont-shape { opacity: 0; }
#australia-shape { opacity: 0; }
#boston-shape { opacity: 0; }
#colorado-shape { opacity: 0; }
#netherlands-shape { opacity: .3; }

#animation {
  box-sizing: content-box;
  width: 70vh;
  height: auto;
  overflow: visible;
  max-width: 40vw;
  min-width: 300px;
}

#right-container {
  width: 60%;
  padding: 2vh 2vh 0 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text {
  font-family: Raleway;
  font-size: 20px;
  font-size: 1em;
  color: #282828;
  line-height: 1.3;
  width: 75%;
  opacity: 0;
  transition: opacity .2s linear;
}

.about-text a { color: #282828; }
.about-link-maine:hover { color: #0c7ff2; }
.about-link-vermont:hover { color: #0cc17b; }
.about-link-australia:hover { color: #efc25e; }
.about-link-boston:hover { color: #ef5e76; }
.about-link-denver:hover { color: #9c62d3; }
.about-link-amsterdam:hover { color: #f97248; }

.section {
  width: 100vw;
  padding-bottom: 1%;
}

.dash { stroke: #0c7ff2; }

.section-one {
  opacity: 0;
  margin-top: 0;
  padding-bottom: 0;
}

#work {
  position: relative;
  display: flex;
  height: auto;
  padding: 10vh 0;
  justify-content: center;
  align-items: center;
}

.work-left,
.work-right {
  position: relative;
  flex: 1;
  padding: 2vh 3vh;
  font-family: Raleway;
  font-size: 20px;
  font-size: 1em;
  color: #282828;
  line-height: 1.3;
}

.work-right {
  display: flex;
  justify-content: center;
}

.work-link { color: #282828; }
.work-link:hover { color: #0c7ff2; }

#chart {
  position: relative;
  display: flex;
  width: 95%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#bubbles { width: 90%; }

text {
  font-family: Raleway;
  font-size: 10px;
  fill: white;
  pointer-events: none;
}

#contact { position: relative; }

#contact-element {
  position: absolute;
  left: 50%;
  width: 30%;
  padding: 3vh 0;
  transform: translate(-50%, 0);
}

.email { fill: #282828; pointer-events: none; }
.linked-in { fill: #282828; pointer-events: none; }
.email-rect:hover ~ .email { fill: #0c7ff2; }
.linked-in-rect:hover ~ .linked-in { fill: #0c7ff2; }
.contact-line { fill: #282828; }

@media (max-width: 960px) {
  #work {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .work-right,
  .work-left {
    width: 90%;
    padding: 3vh;
  }
}

@media (max-width: 700px) {
  .about-text,
  .work-left {
    font-size: 16px;
    font-size: .8em;
  }
}

@media (max-width: 450px) {
  .header {
    width: 40%;
    min-width: 160px;
  }
  .menu {
    width: 40%;
    min-width: 160px;
  }
  #top {
    min-height: 30px;
    padding-bottom: 1%;
  }
  #about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #animation {
    width: 50vh;
    max-width: 23vw;
    min-width: 200px;
  }
  #left-container {
    margin: -2vh 0 0 -7vh;
  }
  #right-container {
    width: 95%;
    padding: 0;
  }
  .about-text,
  .work-left {
    font-size: 14px;
    font-size: .6em;
  }
}
