body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'DM Mono', monospace;
  font-size: 16px;
  color: #0c0c0c;
  background-color: #D7BDE2;
  display: flex;
  flex-direction: column;
}

#header {
  width: 100%;
}

.row-one,
.row-two {
  padding: 2vh 0 0 5vh;
}

#main-text {
  max-width: 80%;
  padding: 10vh 0 0 5vh;
  font-weight: 300;
}

.name {
  margin: 0;
  font-size: 3rem;
  font-weight: 300;
}

.title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 300;
}

.footer-item:hover {
  cursor: pointer;
  color: #4A235A;
}

a {
  color: #0c0c0c;
}

a:hover {
  color: #4A235A;
}

.footer-active {
  color: #00b8ff;
}

.footer-item {
  font-size: 1.2rem;
  font-weight: 300;
  color: #0c0c0c;
}

.link-container {
  position: relative;
}

.thenet {
  position: absolute;
  opacity: 0;
  width: 300px;
  pointer-events: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .thenet {
    display: none;
  }
}

@media (max-width: 750px) {
  /* .footer-item {
    font-size: 1rem;
  } */
  .copy {
    margin-bottom: 70px;
  }
}

@media (max-width: 500px) {
  .name {
    font-size: 2.3rem;
  }
  .copy {
    font-size: 1.3rem;
    margin-top: 70px;
  }
  /* .footer-item {
    font-size: 1rem;
    display: block;
  } */
}

@media (max-width: 345px) {
  .name {
    font-size: 1.5rem;
  }
  .title {
    font-size: 1rem;
  }
}
